.anim{
    cursor: pointer;
    transition: 650ms;

}
.anim:hover{
    transform: rotate(20deg);
    
    
}

.buy{
    cursor: pointer;
    transition: 650ms;

}

.buy:hover{
    transform: scale(1.1);

}
.shape{
   resize: both;
}

.shoehover{
    cursor: pointer;
    transition: 650ms;

}
.shoehover:hover{
    transform: scale(1.1);

}
.table{
    width:70%;
    margin:auto;
    border:1px solid red
}